:root {
  --primary-color: #f1cdb3;
  --white-color: #ffffff;
}

* {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, serif;
  font-style: normal;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: flex;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--primary-color);
}

h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #545454;
}

h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-link {
  display: flex;
  align-items: center;
}

.button-link a {
  font-family: Georgia, serif;
  padding: 15px 45px;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  line-height: 1.1;
}

.button-link a:hover,
.card__item:hover .button-link a {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

section:not(.not-only) {
  padding-top: 80px;
  padding-bottom: 100px;
}
section:not(.not-only):nth-of-type(2n + 1) {
  background-color: #f6f6f6;
}

/* header */

.header {
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 28px 40px;
  width: 100%;
}

.header__logo:hover h1,
.header__logo:hover span,
.pets .header__logo:hover h1,
.pets .header__logo:hover span {
  transform: scale(1.01);
}

.header__logo span {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--white-color);
  padding-top: 10px;
  display: inline-block;
  padding-left: 5px;
}

.header__navifgation {
  padding-right: 83px;
  padding-bottom: 5px;
}

.header__navifgation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.header__navifgation ul li a {
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #cdcdcd;
  letter-spacing: 0;
}

.header__navifgation ul li a.active {
  color: #fafafa;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--primary-color);
  cursor: default;
}

.header__navifgation ul li a:hover {
  color: #fafafa;
}

/* not-only section */

.not-only {
  background: url(img/start-screen-gradient-background.png) no-repeat center;
  background-size: cover;
}

.not-only__container {
  display: flex;
  justify-content: space-between;
}

.not-only__text {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: stretch;
  padding-top: 343px;
  padding-bottom: 240px;
  padding-left: 40px;
  width: 37%;
}

.not-only__image {
  display: flex;
  align-items: flex-end;
  padding-right: 40px;
}

.not-only h2 {
  font-size: 44px;
  color: var(--white-color);
  letter-spacing: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.not-only p {
  color: #cdcdcd;
}

/* about section */

.about h2 {
  max-width: 400px;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 430px;
}

/* our-friends section */

.our-friends h2 {
  text-align: center;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: relative;
}

.our-friends__slider {
  width: 100%;
  max-width: 995px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: #fafafa;
  border-radius: 9px;
  overflow: hidden;
}

.card__item:hover {
  cursor: pointer;
  box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.3);
}

.card__item:hover img {
  transform: scale(1.03);
}

.card__image img {
  object-fit: cover;
  width: 100%;
}

.card__item a {
  background-color: transparent;
}

h3.title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 42px 30px;
}

.slider__navigation {
  position: absolute;
  top: 49%;
  width: 100%;
}

.slider__navigation span {
  display: block;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.slider__navigation span:after {
  content: url(img/arrow.svg);
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 32px;
  width: 50px;
  height: 50px;
}

.slider__navigation .prev {
  position: absolute;
  left: 38px;
}

.slider__navigation .next {
  position: absolute;
  right: 38px;
}
.card__pagination {
  display: flex;
  gap: 18px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.15;
  color: #292929;
}

.slider__navigation span,
.card__pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.card__pagination li.active {
  background-color: var(--primary-color);
}

.card__pagination li.disabled {
  cursor: default;
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.slider__navigation span:hover,
.card__pagination li:not(.disabled):hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.slider__navigation .prev::after {
  transform: rotate(180deg);
}

/* help section */

.help h2 {
  text-align: center;
}

.help__container {
  display: flex;
  gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-basis: 15%;
}

/* in-addition section */

.in-addition__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.in-addition__text {
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 380px;
}

.in-addition__bank-link {
  max-width: 350px;
}

.in-addition__bank-link a {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px 15px;
  background-color: #f1cdb3;
  border-radius: 9px;
}

.in-addition__bank-link a:before {
  content: url(img/credit-card.svg);
  height: 23px;
}

.in-addition__bank-link a:hover {
  background-color: #fddcc4;
}

.in-addition__bank-link a span {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition p {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

/* footer */

.footer {
  background: url(img/footer-gradient-background.png) no-repeat center;
  background-size: cover;
}

.footer h2 {
  color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 40px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 60px 0;
}

.footer__item ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.footer__item ul li a {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #f1cdb3;

  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__item ul li a:hover {
  color: #fddcc4;
}

.footer__item ul li a:hover:before {
  transform: scale(1.06);
}

.mail-icon a:before {
  content: url(img/icon-email.svg);
  transition: 0.3s;
}
.phone-icon a:before {
  content: url(img/icon-phone.svg);
  transition: 0.3s;
}
.map-icon a:before {
  content: url(img/icon-marker.svg);
  transition: 0.3s;
}

.footer__image {
  display: flex;
  align-items: flex-end;
}

/* PETS PAGE */

.header.pets,
.pets .header__inner {
  position: static;
}

.pets .header__logo h1 {
  color: #545454;
}

.pets .header__logo span {
  color: #292929;
}

.pets .header__navifgation ul li a {
  color: #545454;
}

.pets .header__navifgation ul li a.active {
  color: #292929;
}

.pets .header__navifgation ul li a:hover {
  color: #292929;
}

.pets .our-friends__slider {
  max-width: 100%;
}

.pets .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  column-gap: 40px;
  row-gap: 32px;
  padding: 0 40px;
}

.pets .card__text {
  padding: 0 0 30px;
  gap: 27px;
}

/* MQ */

@media (max-width: 1182px) {
  .not-only__container {
    flex-direction: column;
    align-items: center;
  }

  .not-only__text {
    padding-top: 150px;
    padding-bottom: 98px;
    width: 91%;
    max-width: 504px;
    padding-left: 0;
    align-items: center;
  }

  .not-only__text p,
  .not-only h2 {
    width: 91%;
  }

  .button-link {
    justify-content: center;
  }

  .not-only__image {
    padding-right: 0;
    align-self: flex-end;
    max-width: 569px;
  }
}

@media (max-width: 940px) {
  .wrapper {
    padding: 0 30px;
  }

  .header__inner {
    padding: 30px 0;
  }

  .header__navifgation {
    padding-right: 0;
  }

  .not-only__text {
    width: 91%;
    max-width: 504px;
    padding-left: 0;
    align-items: center;
  }

  .about__container {
    gap: 80px;
    flex-direction: column-reverse;
  }

  .main .card__item:nth-child(n + 3) {
    display: none;
  }

  .card__item {
    max-width: 270px;
  }

  .cards {
    justify-content: center;
    align-items: stretch;
    gap: 40px;
  }

  .slider__navigation .next {
    right: 0;
  }

  .slider__navigation .prev {
    left: 0;
  }

  .button-link a {
    padding: 15px 42px;
  }

  .help__item-top,
  .help__item-bottom {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 20%;
    gap: 30px;
  }

  .in-addition__container {
    gap: 60px;
    flex-direction: column-reverse;
  }

  .footer__container {
    padding: 0px 35px;
  }

  .footer__image {
    justify-content: center;
    width: 100%;
    padding-top: 35px;
  }

  .footer__item {
    padding: 30px 0;
  }
  .pets section:not(.not-only) {
    padding-top: 78px;
    padding-bottom: 78px;
  }

  .pets .our-friends__container {
    gap: 28px;
  }

  .pets .card__item:nth-child(n + 7) {
    display: none;
  }

  .card__pagination {
    padding-top: 12px;
  }
}

@media (max-width: 730px) {
  .header__navifgation {
    display: none;
  }
}
